<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <!-- Inicio del card -->
 
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nombre de la app</ion-card-title>
      <ion-card-title>Login</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>

      <!-- Inicio del formulario -->
<form action="">
      <!--Nombre-->
      
      <ion-input label="Nombre" label-placement="floating" fill="solid" placeholder="Ingrese su nombre"></ion-input>

<br />

<!-- Apellido -->
<ion-input label="Apellido" label-placement="floating" fill="solid" placeholder="Ingrese su apellido"></ion-input>

<br>

<!--Genero-->

<ion-item>
  <ion-select fill="solid" label="Genero" label-placement="stacked">
    <ion-select-option value="apple">Masculino</ion-select-option>
    <ion-select-option value="banana">Femenino</ion-select-option>
    <ion-select-option value="orange">Otro</ion-select-option>
  </ion-select>
</ion-item>

<br>

<!--Edad-->

<ion-input label="Edad" type="number" label-placement="floating" fill="solid" placeholder="Ingrese su edad"></ion-input>


<br>

<!--Contraseña-->

<ion-input label="Contraseña" type="password" labelPlacement="floating" fill="solid" [counter]="true" maxlength="15"></ion-input>


<!--Email-->
<ion-input
  type="email"
  fill="solid"
  label="Correo"
  labelPlacement="floating"
  helperText="Ingresa un correo valido"
  errorText="Correo Invalido"
  ngModel
  email
></ion-input>

<br> 



<!--Boton enviar-->

 <ion-button method="POST" expand="full">Enviar</ion-button>
</form>

    </ion-card-content>
  </ion-card>

</ion-content>
