<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Acordify
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bienvenido</ion-title>
    </ion-toolbar>
  </ion-header>


<!--interpolacion-->  
  <ion-card>
    <ion-card-header>
      <ion-card-title><h1>Bienvenido {{ nombreUsuario }}!</h1></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Bienvenido a nuestra Acordify, una aplicación donde podrás aprender a tocar el instrumento musical que quieras de manera fácil y divertida.
    </ion-card-content>
  </ion-card>

  <ion-button [routerLink]="['/admin']">Modo Administrador</ion-button>
  <ion-button expand="full" (click)="logout()">Cerrar Sesión</ion-button>
  <ion-card>
    <img src="assets/img/instrumentos.jpg" alt="guitarra">
    <ion-card-header>
      <ion-card-title>Conoce nuevos instrumentos</ion-card-title>
      <ion-card-subtitle>Aquí podrás escuchar los instrumentos musicales más conocidos de cada género</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-button [routerLink]="['/instrumentos']">Entrar</ion-button>
    </ion-card-content>
  </ion-card>


  <ion-card-content>
    <ion-card-title>Proximamente</ion-card-title>
    <ion-button [routerLink]="['/geolocation']">Probar Geolocalizacion</ion-button>
    <ion-card-subtitle>La geolocalizacion servira para buscar profesores cercanos en futuras actualizaciones</ion-card-subtitle>
  </ion-card-content>
  
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Próximamente</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Estamos trabajando en nuevas funciones
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Próximamente</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Estamos trabajando en nuevas funciones
    </ion-card-content>
  </ion-card>

  <ion-card #card style="width: 412px; --width: 160px;"> 
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>En desarrollo</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Estamos trabajando en nuevas funciones
    </ion-card-content>
  </ion-card>



  <ion-card #card style="width: 80px; --width: 160px;">
    <ion-card-content>Card</ion-card-content>
  </ion-card>
  <ion-button (click)="play()">Play</ion-button>
  <ion-button (click)="pause()">Pause</ion-button>
  <ion-button (click)="stop()">Stop</ion-button>
</ion-content>
