<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>instrumentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">instrumentos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img src="assets/img/piano.jpg" alt="piano">
    <ion-card-header>
      <ion-card-title>Piano</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
    Es un instrumento que consta de teclas, blancas y negras. Cada tecla representa una nota musical diferente, que al presionarlas generan una amplia gama de sonidos melodicos y armoniosos.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/img/guitarra.jpg" alt="guitarra">
    <ion-card-header>
      <ion-card-title>Guitarra</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Es un instrumento musical de cuerda que se toca principalmente mediante la vibracion de cuerdas. Es conocida por su capacidad para expresar una gran variedad de estilos musicales.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/img/vilin.jpg" alt="vilin">
    <ion-card-header>
      <ion-card-title>Violin</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Es un instrumento de cuerdas que resuenan al ser tocadas. Se toca colocando las cuerdas en vibracion con un arco, el arco es una vara con cerdas de crin de caballo que se deslizan sobre las cuerdas para provocar un hermoso sonido.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/img/flauta.jpg" alt="flauta">
    <ion-card-header>
      <ion-card-title>Flauta</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Es un instrumento musical de viento, se caracteriza por su forma alargada y estrecha, se toca soplando aire a través de la embocadura mientras se tapan y destapan los agujeros situados a lo largo del tubo para producir diferentes notas musicales.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/img/bateria.jpg" alt="bateria">
    <ion-card-header>
      <ion-card-title>Bateria</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Es un instrumento musical de percusión, se compone de varios elementos, su configuración típica consta de tambores, platillos y pedales. Para tocar bateria se necesitan unas baquetas, con estas al golpear la bateria se produce un sonido único.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img src="assets/img/saxofon.jpg" alt="saxofon">
    <ion-card-header>
      <ion-card-title>Saxofon</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
    Es un instrumento musical de viento que se caracteriza por su forma cónica y su cuerpo de metal. El saxofón se toca soplando aire a través de su boquilla, contiene una serie de llaves y botones que permiten al musico producir diferentes notas musicales.
    </ion-card-content>
  </ion-card>


  
</ion-content>
